.section {
  background: url('../img/computer-911165_1920.jpg') no-repeat center center cover;
}

.section {
  background: green;
}

form {
  background: green;
}

form {
  background: yellow;
}

* {
  color: red;
}